<script src="https://cdn.plot.ly/plotly-3.0.1.min.js" charset="utf-8"></script>
<script src="/assets/script.js"></script>

<section class="section-dense">
    <div class="container">

        <p>Organization</p>
        <h1>{{ organization.name }}</h1>
        <p><a href="https://mapper.obis.org?instituteid={{ organization.id }}" class="badge badge-mapper" target="blank">Open in mapper</a></p>

        <div class="row">
            <div id="m"></div>
        </div>

    </div>
</section>

<section class="section-dense section-dark">
    <div class="container">

        <h2>Datasets</h2>

        <div id="datasets"></div>
    </div>

</section>

<section class="section-dense">
    <div class="row align-items-center">
        <div class="col-12 col-md-6">
            <div id="timeplot"></div>
        </div>
        <div class="col-12 col-md-6">
            <div id="sunburst" style="height: 600px;"></div>
        </div>
    </div>
</section>

<script>
renderSunburst("sunburst", { instituteid: "{{ organization.id }}" });
renderTimeplot("timeplot", { instituteid: "{{ organization.id }}" });
renderDatasetTable("datasets", { instituteid: "{{ organization.id }}" });
renderMap("m", { instituteid: "{{ organization.id }}" })
</script>