<script src="https://cdn.plot.ly/plotly-3.0.1.min.js" charset="utf-8"></script>
<script src="/assets/script.js"></script>

<section class="section-dense">
    <div class="container">

        <p>Organization</p>
        <h1>{{ organization.name }}</h1>
        <p>
            <a href="https://mapper.obis.org?instituteid={{ organization.id }}" class="badge badge-mapper" target="blank">Open in mapper</a>
            <a href="/explore?instituteid={{ organization.id }}" class="badge badge-mapper" target="blank">Explore occurrences</a>
        </p>

        <div class="row mt-5">
            <div class="col col-6 col-md-3 d-flex justify-content-center">
                <div class="text-end">
                    <div class="display-6 fw-bold">{{ "{:0,.0f}".format(statistics.records) }}</div>
                    <div>occurrence records</div>
                </div>
            </div>
            <div class="col col-6 col-md-3 d-flex justify-content-center">
                <div class="text-end">
                    <div class="display-6 fw-bold">{{ "{:0,.0f}".format(statistics.taxa) }}</div>
                    <div>taxa</div>
                </div>
            </div>
            <div class="col col-6 col-md-3 d-flex justify-content-center">
                <div class="text-end">
                    <div class="display-6 fw-bold">{{ "{:0,.0f}".format(statistics.species) }}</div>
                    <div>species</div>
                </div>
            </div>
            <div class="col col-6 col-md-3 d-flex justify-content-center">
                <div class="text-end">
                    <div class="display-6 fw-bold">{{ "{:0,.0f}".format(statistics.datasets) }}</div>
                    <div>datasets</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div id="m"></div>
        </div>

    </div>
</section>

<section class="section-dense section-dark">
    <div class="container">

        <h2>Datasets</h2>

        <div id="datasets"></div>
    </div>

</section>

<section class="section-dense">
    <div class="row align-items-center">
        <div class="col-12 col-md-6">
            <div id="timeplot"></div>
        </div>
        <div class="col-12 col-md-6">
            <div id="sunburst" style="height: 600px;"></div>
        </div>
    </div>
</section>

<script>
renderSunburst("sunburst", { instituteid: "{{ organization.id }}" });
renderTimeplot("timeplot", { instituteid: "{{ organization.id }}" });
renderDatasetTable("datasets", { instituteid: "{{ organization.id }}" });
renderMap("m", { instituteid: "{{ organization.id }}" })
</script>