<section id="footer" class="section-verydark section-dense">
    <div class="container" id="logos">
        <a href="http://www.ioc-unesco.org/" target="_blank">
            <img src="/images/logo_ioc_w.svg" style="opacity:0.5; height: 80px;" />
        </a>
        <a class="ms-2" href="http://www.iode.org/" target="_blank">
            <img src="/images/logo_iode.png" />
        </a>

        <span id="social">
            <a href="http://www.iobis.org/feed.xml" class="fa fa-rss" target="_blank"></a>
            <a href="https://www.linkedin.com/company/ocean-biodiversity-information-system" class="fa-brands fa-linkedin" target="_blank"></a>
            <a href="http://github.com/iobis" class="fa-brands fa-github" target="_blank"></a>
            <a href="https://bsky.app/profile/obis.org" class="fa-brands fa-bluesky" target="_blank"></a>
            <a href="https://x.com/obisnetwork" class="fa-brands fa-x" target="_blank"></a>
            <a href="https://www.youtube.com/@oceanbiodiversityinformati6931" class="fa-brands fa-youtube" target="_blank"></a>
            <a href="https://www.instagram.com/obisnetwork/" class="fa-brands fa-instagram" target="_blank"></a>
            <a href="https://mastodon.social/@obis" class="fa-brands fa-mastodon" target="_blank"></a>
        </span>

        <!-- Newsletter link -->
        <div id="newsletter" style="margin-top:10px;">
            <a href="http://www.iobis.org/community/newsletter" target="_blank" style="color: white; text-decoration: none; font-size: 1rem;">
                Subscribe to our newsletter <i class="fa-solid fa-envelope"></i>
            </a>
        </div>
    </div>
</section>

{% include analytics.html %}
