<div class="row row-cols-1 row-cols-md-3 g-4">
{% assign project_pages = site.pages | where: "layout", "project" | sort: "title" %}
{% for project in project_pages %}
    <div class="col">
    <div class="card h-100">
        <div class="card-body">
        <h5 class="card-title">
            <a href="{{ project.url | relative_url }}">{{ project.title }}</a>
        </h5>
        {% if project.start_date %}
        <p class="card-text">{{ project.start_date }} - {{ project.end_date }}</p>
        {% endif %}
        {% if project.description %}
        <p class="card-text">{{ project.description }}</p>
        {% endif %}
        {% if project.website %}
        <p class="card-text">Website: <a href="{{ project.website }}" target="_blank">{{ project.website }}</a></p>
        {% endif %}
        {% if project.contact %}
        <p class="card-text">Contact: {{ project.contact }}</p>
        {% endif %}
        {% if project.funding %}
        <p class="card-text">Funding: {{ project.funding }}</p>
        {% endif %}
        {% if project.tag %}
        <p class="card-text"><a href="/tag/{{ project.tag | slugify }}"><span class="badge tag mb-1">{{ project.tag }}</span></a></p>
        {% endif %}
        </div>
    </div>
    </div>
{% endfor %}
</div>