<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="container container-post mt-5" style="margin-bottom: 6rem;">
        <p>News</p>
        <h1>{{ page.title }}</h1>
        {% if page.subtitle %}
        <h4>{{ page.subtitle }}</h4>
        {% endif %}
        <p>{{ page.date | date: "%-d %B %Y" }}</p>
        <div class="mb-4">
          {% for tag in page.tags %}
              <a href="/tag/{{ tag | slugify }}"><span class="badge tag mb-1">{{ tag }}</span></a>
          {% endfor %}
        </div>
        {% if page.image %}
                 <div class="feature-img" style="position: relative;">
            <img src="{{ page.image }}" alt="{{ page.imageAlt | default: page.title }}" style="width: 100%;">
            {% if page.imageLicense %}
            <div class="feature-img-license">
              <div class="feature-img-license-c"><i class="fa fa-info-circle"></i></div>
              <div class="feature-img-license-text">{{ page.imageLicense | markdownify }}</div>
            </div>
            {% endif %}
          </div>
          {% if page.imageCaption %}
          <div class="feature-img-caption">{{ page.imageCaption | markdownify }}</div>
          <br>
          {% endif %}
          {% endif %}
        {% if page.intro %}
        <p class="intro">{{ page.intro }}</p>
        {% endif %}
        {{ content }}
    </div>

    {% include footer.html %}
  </body>
</html>